In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import pickle
from matplotlib.ticker import MultipleLocator

In [2]:
fname = "saved_data2/test.pickle"
with open(fname, 'rb') as handle:
    test = pickle.load(handle)

In [4]:
test[ test.episode==-1 ]

     reward  episode       ts   inv  action       bank    price  portfolio
109     0.0     -1.0  60681.0   0.0     0.0  200.00000  0.88674  200.00000
110     0.0     -1.0  60682.0   0.0     0.0  200.00000  0.88674  200.00000
111     0.0     -1.0  60683.0  95.0   -95.0  115.75875  0.88675  200.00000
112     0.0     -1.0  60684.0  95.0     0.0  115.75875  0.88673  199.99810
113     0.0     -1.0  60685.0  95.0     0.0  115.75875  0.88676  200.00095
..      ...      ...      ...   ...     ...        ...      ...        ...
173     0.0     -1.0  60745.0  56.0     0.0  150.31850  0.88613  199.94178
174     0.0     -1.0  60746.0  56.0     0.0  150.31850  0.88609  199.93954
175     0.0     -1.0  60747.0  56.0     0.0  150.31850  0.88610  199.94010
176     0.0     -1.0  60748.0  56.0     0.0  150.31850  0.88610  199.94010
177     0.0     -1.0  60749.0  56.0     0.0  150.31850  0.88626  199.94906

[69 rows x 8 columns]