In [1]:
import matplotlib.pyplot
import pandas as pd
import numpy as np

import pickle

In [22]:
fname = "saved_data/test.pickle"

In [23]:
with open(fname, 'rb') as handle:
    b = pickle.load(handle)

In [24]:
b

   episode inv action profit   ts
0        0   4     -4      0    0
1        0  19    -15      0    1
2        0  30    -11      0    2
3        0  39     -9      0    3
4        0  48     -9      0    4
..     ...  ..    ...    ...  ...
93       1   3      0      0  104
94       1   3      0      0  105
95       1   3      0      0  106
96       1   3      0      0  107
97       1   3      0      0  108

[98 rows x 5 columns]